@import "./utils/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.splash-content{
    width:400px;
    height: 400px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    
    .splash-img{
        width: 150px;
        height: 150px;
    }

    .titleH1{
        font-weight: bolder;
    }
    
    @include Phone{
        margin: 50px auto;
        .titleH1{
            font-size: 30px;
        }
    }


}