.splash-content{
    width:400px;
    height: 400px;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .splash-img{
        width: 200px;
        height: 200px;
    }

}